@import "colors.module";
html {
    font-size: 16px;
    line-height: 1.75rem;
}

body {
    background: #fff;
    color: $black;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.4rem;
    @media (max-width: 980px) {
        font-size: 1.8rem;
        line-height: 2.16rem;
    }
    @media (max-width: 425px) {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}

.h2--subtitle {
    font-size: 1.8rem;
    line-height: 2.16rem;
    color: lighten($black, 20%);
    @media (max-width: 980px) {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    @media (max-width: 425px) {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

p {
    margin: 1rem 0;
    line-height: 1.75rem;
}

a,
a:visited {
    color: $blue;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.pad-container {
    padding: 1rem;
}

.pad-container-w {
    padding: 2rem;
    @media (max-width: 425px) {
        padding: 1.5rem;
    }
}

.pad-h-container {
    padding: 1rem 0;
}

img {
    border-radius: 0.3rem;
}

.center {
    display: block;
    margin: 0 auto;
}

.all-posts {
    margin-top: 1.75rem;
    @media (max-width: 980px) {
        margin-top: 0rem;
    }
    .post {
        margin: 0 0 1.75rem 0;
        padding: 0 0 1.75rem 0;
        border-bottom: 1px solid #f4f4f4;
        font-size: 1rem;
        h2 {
            margin-bottom: .5rem;
            font-size: 1.25rem;
            line-height: 1.8rem;
        }
        .description {
            padding: 0 0 1rem 0;
        }
        .post-meta {
            font-size: 0.9rem;
            font-style: italic;
        }
    }
}

ul.list-as-sentence {
    margin: 0;
    padding: 0;
    display: inline;
    li {
        display: inline-block;
        &:not(:last-of-type):after {
            content: ",";
            display: inline-block;
            margin-right: 4px;
        }
    }
}

header.single-header {
    background: $black;
    color: #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 1rem;
    padding: 3.5rem;
    text-align: center;
    .meta {
        font-size: 0.8rem;
        time {
            color: darken(#fff, 20%);
        }
    }
}

.page-title {
    padding: 1rem;
    background: $black;
    color: #f4f4f4;
}

.c-1-2 {
    width: 50%;
    float: left;
}

form {
    margin: 1rem 0;
    border: 1px solid #ddd;
    div {
        background: #fff;
        width: 100%;
    }
    div.input {
        // padding: .25rem 0 0 .5rem;
        border-right: 1px #ddd solid;
        &:last-child {
            border-right: none;
        }
    }
    label {
        display: block;
        padding: 0.25rem 0 0 0.25rem;
        color: #ccc;
    }
    input,
    textarea {
        width: 100%;
        padding: 0 0 0.5rem 0.25rem;
        border: none;
        border-bottom: 1px #ddd solid;
        &:focus {
            outline: none;
            border-bottom: 1px solid $blue;
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus input:-webkit-autofill,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border-bottom: 1px #ddd solid;
        -webkit-text-fill-color: #000000;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        transition: background-color 5000s ease-in-out 0s;
    }
    button {
        margin: 0 0 0 auto;
        padding: 0.5rem 2rem;
        display: block;
    }
}

section {
    h1 {
        font-size: 1.35rem;
    }
    h2 {
        font-size: 1.15rem;
    }
}

.small-cmntainer {
    max-width: 800px;
    margin: 0 auto;
}

.container {
    max-width: 40rem;
    margin: 0 auto;
}

header.nav {
    background: #fff;
    width: "100%";
    padding: 1rem;
    h1 {
        display: inline;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    a {
        color: #283c46;
        &:hover {
            color: $blue;
        }
        &.active {
            color: $blue;
        }
    }
    nav {
        margin: 0 auto;
        max-width: 960px;
        >a {
            float: left;
        }
    }
    .header-nav {
        float: right;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            padding-left: 1rem;
        }
    }
    @media (max-width: 425px) {
        nav>a {
            text-align: center;
            display: block;
            float: none;
        }
        h1 {
            display: block;
        }
        .header-nav {
            float: none;
            display: block;
            margin-top: 0.75rem;
            text-align: center;
            li {
                display: inline-block;
                padding: 0 0.5rem;
            }
        }
    }
}

.main {
    width: 100%; // max-width:800px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.6rem;
}

footer {
    width: 100%;
    background: $black !important;
    padding: 2rem;
    p {
        color: #f4f4f4;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

ul.nav {
    list-style: none;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}

ul.nav li {
    display: inline;
}

ul.nav li a {
    display: inline-block;
    line-height: 1rem;
    padding: 0 0.5rem;
    border-right: 1px solid #a1a7b9;
}

ul.nav li:first-child a {
    padding-left: 0;
}

ul.nav li:last-child a {
    border-right: none;
    padding-right: 0;
}